{% extends 'shop/base.html' %}
{% block product_content %}
<h1 class="text-center">Product detail page</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'shoppage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'productviewpage' pro.category %}">Category</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{product}}</li>
  </ol>
</nav>
<h2 style="color:brown;"><b>{{product}}</b></h2>
<div class="container">
<!--    product detail starts here-->
           <div class="row">
               	<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
                             <div class="product-image">
                                    <img src="{{pro.image.url}}">
                             </div>
                                    <h3>{{pro.name}}</h3>
                                    <h4>{{pro.price}}</h4>
                                    <h5>{{pro.description}}</h5>
                                   <a href="{% url 'cartpage' %}"><button style="font-size:24px; background-color:yellow; color:white;">Add to Cart <i class="fa fa-shopping-cart"></i></button></a>   </div>
               </div>
           </div>
</div>




{% endblock %}